-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "plpgsql" WITH SCHEMA "pg_catalog" VERSION "1.0";

-- DropForeignKey
ALTER TABLE "public"."KnowledgeChunk" DROP CONSTRAINT "KnowledgeChunk_articleId_fkey";

-- AlterTable
ALTER TABLE "public"."Article" DROP COLUMN "isIndexed";

-- DropTable
DROP TABLE "public"."KnowledgeChunk";

